# The directory Mix will write compiled artifacts to.
advent/_build

# If you run "mix test --cover", coverage assets end up here.
advent/cover

# The directory Mix downloads your dependencies sources to.
advent/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
advent/doc

# If the VM crashes, it generates a dump, let's ignore it too.
advent/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
advent/*.ez
